.complaints-list-container {
  max-width: 80vh;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.complaints-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.complaints-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.complaints-details {
  flex: 1;
  text-align: left;
}

.highlight {
  color: #007bff;
}



.more-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more-button:hover {
  background-color: #0056b3;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination span {
  margin: 0 5px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .complaints-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .complaints-details {
    margin-top: 10px;
  }
}

.complaint-user {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.complaint-user:last-child {
  margin-bottom: 0;
}


.resolution-button {
  margin-left: 10px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.resolution-button:hover {
  background-color: #45a049; /* Darker green */
}

.block-button {
  background-color: #af4c4c; /* Зеленый цвет */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.unblock-button {
  background-color: #4CAF50; /* Зеленый цвет */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.block-button:hover {
    background-color: #a04548; /* Темно-зеленый цвет */
}

.unblock-button:hover {
  background-color: #45a049; /* Темно-зеленый цвет */
}

